.links line {
    stroke: #000;
    stroke-opacity: 0.6;
    stroke-width: 1.5px;
  }
  
.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#menu{ 
    /* max-width: 300px; */
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}


#fullNets {
  border-style: solid;
}

app-fully-connected-layers app-conv2-d {
  display: inline-block
}